*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    margin:0;
    padding:0;
    min-height: 100%;
}
.grid-container-page{
    display:grid;
    grid-template-columns:0.5fr 4fr;
    grid-template-rows: 1fr;
    min-height:100%;
    width:100%;
    padding:0;
    margin:0;
}

.left-page{
    background-color:rgb(79, 159, 250);
    width:100%;
    min-height: 100%;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.918);
    font-weight: 800;
}

.sidebar{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12,1fr);
    min-height:100%;
    text-align: start;
    margin:0 0px 0px 40px;
    font-size: xx-large;

}

#dash-icon-div{
    position: relative;
    right: 20px;
    top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgba(255, 255, 255, 0.918);
    font-weight: 800;
}

#dash-icon{
    height: 60px;
    width: fit-content;
}

#dashboard-text{
    font-size: xx-large;
}

.right-page{
    background-color:rgb(211, 209, 209);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: /* 23% 77%; */ 1fr 4fr;
    background-color: red;
    min-height: 100%;

}

.banner-container{
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 2px 3px 1px rgb(161, 161, 161);
    position: relative;
    max-height: 100%;
    max-width: 100%;
    display: grid;
}
.banner-top{
    display:grid;
    grid-template-columns: 70% 30%;
/*     margin: 15px 30px 15px 30px;
 *//*     height:20%;
 */ 
    padding:0;
    max-height: 100%;

}

#search-elements{
    display: grid;
    grid-template-columns: 1fr 20fr;
}

#magnify-icon{
    margin: 0 0px 0 15px;
    padding:0;
    border:none;
    background: none;
    font-size: xx-large;
}

#magnify-icon :hover{
    cursor:pointer;
}


.search-bar{
    margin: 0 0px 0 5px;
    border: none;
    border-radius: 120px;
    max-height: 4rem;
    height: 3rem;
    align-self: center;
    font-size: xx-large;
    background-color: rgb(214, 218, 231);
    box-sizing: border-box;
    

}

.bell-buttons{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

#bell-icon{
/*     margin: 0 0 0 100px;
 */
    border:none;
    background: none;
    font-size: xx-large;
    width: fit-content;
}

#user-icon{
/*     margin:0 0 0 120px;
 */
    display:;
    border:none;
    background: none;
  /*   max-width: 20%; */     /* causing white space bottom page issues */
    
  min-width: 180px;
  max-width: 180px;

  max-height: auto;
    padding:0;
 
}


.user{
/*     margin: 8px 0 0 150px;
 */   /*  white-space: nowrap; */
    font-size: x-large;
  
}

.banner-bottom{
    display: grid;

     grid-template-columns: 30% 70%;
     grid-template-rows: 1;
     
/*     grid-template-columns: 1fr 1fr 1fr 1fr;
/*     margin: 15px 30px 5px 30px;
 */    padding: 0;
    justify-items: end;
    column-gap: 0%;
/*     height: 88%;
 */
    max-height: 100%;
}

#user-icon-bottom{
    height: fit-content;
    width: auto;
    text-align: end;

} 

#banner-bottom-left-parent{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 30% 70%;
/*     margin-top: 30%;
 */   

}

#greeting-div{
    display: flex;
    flex-direction: column;
     margin: 50px 0 0 40px;
     font-size: x-large;
     min-width: auto; 
     height: fit-content;  
    
    }

#greeting{
    margin: 0px 0 10px 0;
    font-size: x-large;
    font-weight: 600;

}

#user-name{
    font-size: xx-large;
    margin: 0 0 0 0;
    font-weight: 600;
}

#photo1{
    min-width: 80%;

    max-width: 80%;
    height: auto;
    border-radius: 50%;
    
}

#photo2{
    max-width:55%;
    max-height: auto;
    border-radius: 50%;
}

.banner-buttons{
   display: flex;
    margin: 0 3% 1% 0;
    flex: 1;
    justify-content: end;
    align-items: flex-end;
    padding: 0 10% 0 0%;
    
    width:150px;
    padding:0;
}

#new-button{
/*     margin: 23px 0 0 10%;
 */    min-height: 60px;
    min-width: 150px;
    
    border-radius: 30px;
    background: rgb(0, 89, 255);
    border: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin-right: 2%;
    margin-left: 2%;

}

#upload-button{
/*     margin: 23px 0 0 620px;
 */ min-height: 60px;
    min-width: 150px;
    border-radius: 30px;
    background: rgb(0, 89, 255);
    border: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin-right: 2%;
    margin-left: 2%;

}

#share-button{
/*     margin: 23px 0 0 690px;
 */  min-height: 60px;
    min-width: 150px;
    border-radius: 30px;
    background: rgb(0, 89, 255);
    border: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin-right: 2%;
    margin-left: 2%;

}

.content-container{
    background-color: rgb(224, 224, 224);
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    min-height: 100%; /*covers bottom white space when 100vh
    minheight: 100%; <- doesn't cover bottom white space*/
    
    min-height: 100%;
}

.cards{
    background-color: rgba(138, 138, 138, 0);
    display:grid;
/*     grid-template-columns: 1fr 1fr;
 */    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
/*     grid-template-rows: 400px;
 */   /*  max-width: 100px;
    max-height: 100px; */
    grid-template-rows: auto 1fr 1fr ;
/*     overflow: hidden; 
 */

    max-height: 10%;
/*     max-height: 100vh;  this made the white space EVEN WORSE. why? Am I giving visual height to only a portion of the page so that more space is being created?
 */}   

.card{
    background-color: rgb(255, 255, 255);
    border-left: solid rgb(0, 206, 221) 10px;
    margin:30px 0px 0px 30px;
    max-width: 430px;
    max-height: 400px;
    border-radius: 8px;
    
}

.CardBackground{
    background-color: aqua;
        background-color: rgb(255, 255, 255);

}

.CardContainer{
    display:grid;
    grid-template-rows: 4fr 1fr;
    height:100%;
}

#your-projects-header{
/*     margin-bottom: 200px;
 */
    width: 100%;
    grid-column: 1/-1;
    margin-left: 30px;
    margin-bottom: 0;
}

.CardContent{
    padding: 10px;
    margin: 10px;
    height: ;
}

p{
    font-size: larger;
   
    
}

.project-name{
    font-size: x-large;
    font-weight: 600;

}

.CardOptions{
    text-align: end;
    margin:20px;
}

    
button{
    border: none;
    background: none;
    cursor: pointer;

}

#card-button{
    font-size: xx-large;

}

.announcements-section{
    margin:30px 30px 30px 30px;
    min-width: 500px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4% 40% 5% 4% 40%;
    gap: 0;


}

#announcements-header{
    margin: 0;
    grid-row: ;
}

#trending-header{
    margin: 0;
    grid-row: 4;
}

.announcements-top{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    /*     height: 40%;
 */
    height:fit-content;
    margin: 4px 0 10px;
    display: flex;
    flex-direction: column;
    grid-row: 2;
}

.announcements-bottom{
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 4px 0 10px;
    display: flex;
    grid-row: 5;

    display: grid;
    grid-template-rows: 1r 1fr 1fr 1fr;

    padding: 0px 0px 0px 20px;

}

.announcements-section{
    max-height: 100%;
}

.announcement{
    margin: 5% 6% 5% 6%;
}

.announcement-title{
    font-weight: 600;
    font-size: x-large;
}

.announcement-content{
    color: rgb(46, 46, 46);
    margin-top: 5px;
}

.gray-line{
    align-self: center;
    background-color: rgb(219, 219, 219);
    height: 2px;
    width: 400px;
    
}

.gap{
    margin: 230px;
}

.trending-user{
    display: grid;
    grid-template-columns: 1fr 4fr;
    display: flex;
    align-items: center;
    font-size: x-large;
}

.trending-user img{
   /*  max-width: 45px;
    max-height: 45px;
    border-radius: 9999px; */

    min-width: 90px;

    max-width: 90px;
    min-height: 90px;
    max-height:90px;
    border-radius: 50%;

    margin-right: 20px;

}